.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
 
.slide,

.slideActive {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1.2s ease-in-out;
}
 
.slide {
  opacity: 0;
}
 
.slideActive {
  opacity: 1;
}
 